.modal .modal-dialog {
  z-index: 10;
}
.modal .modal-dialog .modal-content {
  height: 700px;
}
.modal .modal-dialog .modal-content .modal-header {
  background-color: #1E90FF;
}
.modal .modal-dialog .modal-content .modal-header .modal-title {
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
}
.modal .modal-dialog .modal-content .modal-body {
  color: #2F3542;
  margin: 0 auto;
  max-width: 90%;
  overflow-y: auto;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.modal .modal-dialog .modal-content .modal-body::-webkit-scrollbar {
  width: 10px;
}
.modal .modal-dialog .modal-content .modal-body ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.modal .modal-dialog .modal-content .modal-body::-webkit-scrollbar-thumb {
  background: #a4b0be;
  border-radius: 10px;
}
.modal .modal-dialog .modal-content .modal-body::-webkit-scrollbar-thumb:hover {
  background: #57606f;
}
.modal .modal-dialog .modal-content .modal-body .paraph {
  margin-bottom: 2em;
}
.modal .modal-dialog .modal-content .modal-body .paraph h1 {
  font-weight: bold;
  text-align: center;
}
.modal .modal-dialog .modal-content .modal-body .paraph h2 {
  font-size: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
}
.modal .modal-dialog .modal-content .modal-body .paraph p {
  text-align: justify;
}
.modal .modal-dialog .modal-content .modal-body .paraph .row {
  margin: 0 auto;
  max-width: 80%;
}
